<script setup>
import AuthenticatedLayoutAdmin from '@/Layouts/AuthenticatedLayoutAdmin.vue';
import { Head } from '@inertiajs/vue3';
</script>
<template>
    <Head title="Admin Dashbord" />
    <AuthenticatedLayoutAdmin>

    </AuthenticatedLayoutAdmin>
</template>


<style></style>
