<template>
    <svg v-if="name === 'menubtn'" xmlns="http://www.w3.org/2000/svg" width="50" height="30" viewBox="0 0 92 92" id="menu">
        <path
            d="M78 23.5H14c-3.6 0-6.5-2.9-6.5-6.5s2.9-6.5 6.5-6.5h64c3.6 0 6.5 2.9 6.5 6.5s-2.9 6.5-6.5 6.5zM84.5 46c0-3.6-2.9-6.5-6.5-6.5H14c-3.6 0-6.5 2.9-6.5 6.5s2.9 6.5 6.5 6.5h64c3.6 0 6.5-2.9 6.5-6.5zm0 29c0-3.6-2.9-6.5-6.5-6.5H14c-3.6 0-6.5 2.9-6.5 6.5s2.9 6.5 6.5 6.5h64c3.6 0 6.5-2.9 6.5-6.5z">
        </path>
    </svg>

    <svg v-if="name === 'dots'" width="50" height="79" viewBox="0 0 50 79" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="47.7119" cy="76.9617" r="1.74121" transform="rotate(180 47.7119 76.9617)" fill="#0054bb" />
        <circle cx="47.7119" cy="61.6385" r="1.74121" transform="rotate(180 47.7119 61.6385)" fill="#0054bb" />
        <circle cx="47.7119" cy="46.3163" r="1.74121" transform="rotate(180 47.7119 46.3163)" fill="#0054bb" />
        <circle cx="47.7119" cy="16.7159" r="1.74121" transform="rotate(180 47.7119 16.7159)" fill="#0054bb" />
        <circle cx="47.7119" cy="31.3421" r="1.74121" transform="rotate(180 47.7119 31.3421)" fill="#0054bb" />
        <circle cx="47.7119" cy="1.74122" r="1.74121" transform="rotate(180 47.7119 1.74122)" fill="#0054bb" />
        <circle cx="32.3916" cy="76.9617" r="1.74121" transform="rotate(180 32.3916 76.9617)" fill="#0054bb" />
        <circle cx="32.3877" cy="61.6384" r="1.74121" transform="rotate(180 32.3877 61.6384)" fill="#0054bb" />
        <circle cx="32.3916" cy="46.3162" r="1.74121" transform="rotate(180 32.3916 46.3162)" fill="#0054bb" />
        <circle cx="32.3916" cy="16.7161" r="1.74121" transform="rotate(180 32.3916 16.7161)" fill="#0054bb" />
        <circle cx="32.3877" cy="31.342" r="1.74121" transform="rotate(180 32.3877 31.342)" fill="#0054bb" />
        <circle cx="32.3916" cy="1.74145" r="1.74121" transform="rotate(180 32.3916 1.74145)" fill="#0054bb" />
        <circle cx="17.0674" cy="76.9617" r="1.74121" transform="rotate(180 17.0674 76.9617)" fill="#0054bb" />
        <circle cx="17.0674" cy="61.6384" r="1.74121" transform="rotate(180 17.0674 61.6384)" fill="#0054bb" />
        <circle cx="17.0674" cy="46.3162" r="1.74121" transform="rotate(180 17.0674 46.3162)" fill="#0054bb" />
        <circle cx="17.0674" cy="16.7161" r="1.74121" transform="rotate(180 17.0674 16.7161)" fill="#0054bb" />
        <circle cx="17.0674" cy="31.342" r="1.74121" transform="rotate(180 17.0674 31.342)" fill="#0054bb" />
        <circle cx="17.0674" cy="1.74145" r="1.74121" transform="rotate(180 17.0674 1.74145)" fill="#0054bb" />
        <circle cx="1.74316" cy="76.9617" r="1.74121" transform="rotate(180 1.74316 76.9617)" fill="#0054bb" />
        <circle cx="1.74316" cy="61.6384" r="1.74121" transform="rotate(180 1.74316 61.6384)" fill="#0054bb" />
        <circle cx="1.74316" cy="46.3162" r="1.74121" transform="rotate(180 1.74316 46.3162)" fill="#0054bb" />
        <circle cx="1.74316" cy="16.7161" r="1.74121" transform="rotate(180 1.74316 16.7161)" fill="#0054bb" />
        <circle cx="1.74316" cy="31.342" r="1.74121" transform="rotate(180 1.74316 31.342)" fill="#0054bb" />
        <circle cx="1.74316" cy="1.74145" r="1.74121" transform="rotate(180 1.74316 1.74145)" fill="#0054bb" />
    </svg>

    <svg v-if="name === 'download'" class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
    </svg>

    <svg aria-hidden="true" v-else-if="name === 'exclam'" width="26" class="flex-shrink-0 inline w-5 h-5 mr-3"
        fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
            clip-rule="evenodd"></path>
    </svg>


    <svg v-if="name === 'plus'" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" id="plus">
        <path fill="#200E32"
            d="M14.6602,0.0001 C18.0602,0.0001 20.0002,1.9201 20.0002,5.3301 L20.0002,5.3301 L20.0002,14.6701 C20.0002,18.0601 18.0702,20.0001 14.6702,20.0001 L14.6702,20.0001 L5.3302,20.0001 C1.9202,20.0001 0.0002,18.0601 0.0002,14.6701 L0.0002,14.6701 L0.0002,5.3301 C0.0002,1.9201 1.9202,0.0001 5.3302,0.0001 L5.3302,0.0001 Z M9.9902,5.5101 C9.5302,5.5101 9.1602,5.8801 9.1602,6.3401 L9.1602,6.3401 L9.1602,9.1601 L6.3302,9.1601 C6.1102,9.1601 5.9002,9.2501 5.7402,9.4001 C5.5902,9.5601 5.5002,9.7691 5.5002,9.9901 C5.5002,10.4501 5.8702,10.8201 6.3302,10.8301 L6.3302,10.8301 L9.1602,10.8301 L9.1602,13.6601 C9.1602,14.1201 9.5302,14.4901 9.9902,14.4901 C10.4502,14.4901 10.8202,14.1201 10.8202,13.6601 L10.8202,13.6601 L10.8202,10.8301 L13.6602,10.8301 C14.1202,10.8201 14.4902,10.4501 14.4902,9.9901 C14.4902,9.5301 14.1202,9.1601 13.6602,9.1601 L13.6602,9.1601 L10.8202,9.1601 L10.8202,6.3401 C10.8202,5.8801 10.4502,5.5101 9.9902,5.5101 Z"
            transform="translate(2 2)"></path>
    </svg>

    <svg v-else-if="name === 'dropdown'" class="ml-2 -mr-0.5 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
        fill="currentColor">
        <path fill-rule="evenodd"
            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
            clip-rule="evenodd" />
    </svg>

    <svg v-else-if="name === 'closeBtn'" id="btn_close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
        fill="currentColor" class="w-6 h-6">
        <path fill-rule="evenodd"
            d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-1.72 6.97a.75.75 0 10-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 101.06 1.06L12 13.06l1.72 1.72a.75.75 0 101.06-1.06L13.06 12l1.72-1.72a.75.75 0 10-1.06-1.06L12 10.94l-1.72-1.72z"
            clip-rule="evenodd" />
    </svg>
    
    <svg v-else-if="name === 'deleteIcon'" width="20" fill="red" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
        <path
            d="M24.2,12.193,23.8,24.3a3.988,3.988,0,0,1-4,3.857H12.2a3.988,3.988,0,0,1-4-3.853L7.8,12.193a1,1,0,0,1,2-.066l.4,12.11a2,2,0,0,0,2,1.923h7.6a2,2,0,0,0,2-1.927l.4-12.106a1,1,0,0,1,2,.066Zm1.323-4.029a1,1,0,0,1-1,1H7.478a1,1,0,0,1,0-2h3.1a1.276,1.276,0,0,0,1.273-1.148,2.991,2.991,0,0,1,2.984-2.694h2.33a2.991,2.991,0,0,1,2.984,2.694,1.276,1.276,0,0,0,1.273,1.148h3.1A1,1,0,0,1,25.522,8.164Zm-11.936-1h4.828a3.3,3.3,0,0,1-.255-.944,1,1,0,0,0-.994-.9h-2.33a1,1,0,0,0-.994.9A3.3,3.3,0,0,1,13.586,7.164Zm1.007,15.151V13.8a1,1,0,0,0-2,0v8.519a1,1,0,0,0,2,0Zm4.814,0V13.8a1,1,0,0,0-2,0v8.519a1,1,0,0,0,2,0Z" />
    </svg>

    <svg v-else-if="name === 'dashbord'" fill="indigo"
        class="w-8 h-8 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
        aria-hidden="true" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 22 21">
        <path d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z" />
        <path
            d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z" />
    </svg>

    <svg v-else-if="name === 'moreicons'" width="134" height="106" viewBox="0 0 134 106" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <circle cx="1.66667" cy="104" r="1.66667" transform="rotate(-90 1.66667 104)" fill="#0054bb" />
        <circle cx="16.3333" cy="104" r="1.66667" transform="rotate(-90 16.3333 104)" fill="#0054bb" />
        <circle cx="31" cy="104" r="1.66667" transform="rotate(-90 31 104)" fill="#0054bb" />
        <circle cx="45.6667" cy="104" r="1.66667" transform="rotate(-90 45.6667 104)" fill="#0054bb" />
        <circle cx="60.3334" cy="104" r="1.66667" transform="rotate(-90 60.3334 104)" fill="#0054bb" />
        <circle cx="88.6667" cy="104" r="1.66667" transform="rotate(-90 88.6667 104)" fill="#0054bb" />
        <circle cx="117.667" cy="104" r="1.66667" transform="rotate(-90 117.667 104)" fill="#0054bb" />
        <circle cx="74.6667" cy="104" r="1.66667" transform="rotate(-90 74.6667 104)" fill="#0054bb" />
        <circle cx="103" cy="104" r="1.66667" transform="rotate(-90 103 104)" fill="#0054bb" />
        <circle cx="132" cy="104" r="1.66667" transform="rotate(-90 132 104)" fill="#0054bb" />
        <circle cx="1.66667" cy="89.3333" r="1.66667" transform="rotate(-90 1.66667 89.3333)" fill="#0054bb" />
        <circle cx="16.3333" cy="89.3333" r="1.66667" transform="rotate(-90 16.3333 89.3333)" fill="#0054bb" />
        <circle cx="31" cy="89.3333" r="1.66667" transform="rotate(-90 31 89.3333)" fill="#0054bb" />
        <circle cx="45.6667" cy="89.3333" r="1.66667" transform="rotate(-90 45.6667 89.3333)" fill="#0054bb" />
        <circle cx="60.3333" cy="89.3338" r="1.66667" transform="rotate(-90 60.3333 89.3338)" fill="#0054bb" />
        <circle cx="88.6667" cy="89.3338" r="1.66667" transform="rotate(-90 88.6667 89.3338)" fill="#0054bb" />
        <circle cx="117.667" cy="89.3338" r="1.66667" transform="rotate(-90 117.667 89.3338)" fill="#0054bb" />
        <circle cx="74.6667" cy="89.3338" r="1.66667" transform="rotate(-90 74.6667 89.3338)" fill="#0054bb" />
        <circle cx="103" cy="89.3338" r="1.66667" transform="rotate(-90 103 89.3338)" fill="#0054bb" />
        <circle cx="132" cy="89.3338" r="1.66667" transform="rotate(-90 132 89.3338)" fill="#0054bb" />
        <circle cx="1.66667" cy="74.6673" r="1.66667" transform="rotate(-90 1.66667 74.6673)" fill="#0054bb" />
        <circle cx="1.66667" cy="31.0003" r="1.66667" transform="rotate(-90 1.66667 31.0003)" fill="#0054bb" />
        <circle cx="16.3333" cy="74.6668" r="1.66667" transform="rotate(-90 16.3333 74.6668)" fill="#0054bb" />
        <circle cx="16.3333" cy="31.0003" r="1.66667" transform="rotate(-90 16.3333 31.0003)" fill="#0054bb" />
        <circle cx="31" cy="74.6668" r="1.66667" transform="rotate(-90 31 74.6668)" fill="#0054bb" />
        <circle cx="31" cy="31.0003" r="1.66667" transform="rotate(-90 31 31.0003)" fill="#0054bb" />
        <circle cx="45.6667" cy="74.6668" r="1.66667" transform="rotate(-90 45.6667 74.6668)" fill="#0054bb" />
        <circle cx="45.6667" cy="31.0003" r="1.66667" transform="rotate(-90 45.6667 31.0003)" fill="#0054bb" />
        <circle cx="60.3333" cy="74.6668" r="1.66667" transform="rotate(-90 60.3333 74.6668)" fill="#0054bb" />
        <circle cx="60.3333" cy="30.9998" r="1.66667" transform="rotate(-90 60.3333 30.9998)" fill="#0054bb" />
        <circle cx="88.6667" cy="74.6668" r="1.66667" transform="rotate(-90 88.6667 74.6668)" fill="#0054bb" />
        <circle cx="88.6667" cy="30.9998" r="1.66667" transform="rotate(-90 88.6667 30.9998)" fill="#0054bb" />
        <circle cx="117.667" cy="74.6668" r="1.66667" transform="rotate(-90 117.667 74.6668)" fill="#0054bb" />
        <circle cx="117.667" cy="30.9998" r="1.66667" transform="rotate(-90 117.667 30.9998)" fill="#0054bb" />
        <circle cx="74.6667" cy="74.6668" r="1.66667" transform="rotate(-90 74.6667 74.6668)" fill="#0054bb" />
        <circle cx="74.6667" cy="30.9998" r="1.66667" transform="rotate(-90 74.6667 30.9998)" fill="#0054bb" />
        <circle cx="103" cy="74.6668" r="1.66667" transform="rotate(-90 103 74.6668)" fill="#0054bb" />
        <circle cx="103" cy="30.9998" r="1.66667" transform="rotate(-90 103 30.9998)" fill="#0054bb" />
        <circle cx="132" cy="74.6668" r="1.66667" transform="rotate(-90 132 74.6668)" fill="#0054bb" />
        <circle cx="132" cy="30.9998" r="1.66667" transform="rotate(-90 132 30.9998)" fill="#0054bb" />
        <circle cx="1.66667" cy="60.0003" r="1.66667" transform="rotate(-90 1.66667 60.0003)" fill="#0054bb" />
        <circle cx="1.66667" cy="16.3333" r="1.66667" transform="rotate(-90 1.66667 16.3333)" fill="#0054bb" />
        <circle cx="16.3333" cy="60.0003" r="1.66667" transform="rotate(-90 16.3333 60.0003)" fill="#0054bb" />
        <circle cx="16.3333" cy="16.3333" r="1.66667" transform="rotate(-90 16.3333 16.3333)" fill="#0054bb" />
        <circle cx="31" cy="60.0003" r="1.66667" transform="rotate(-90 31 60.0003)" fill="#0054bb" />
        <circle cx="31" cy="16.3333" r="1.66667" transform="rotate(-90 31 16.3333)" fill="#0054bb" />
        <circle cx="45.6667" cy="60.0003" r="1.66667" transform="rotate(-90 45.6667 60.0003)" fill="#0054bb" />
        <circle cx="45.6667" cy="16.3333" r="1.66667" transform="rotate(-90 45.6667 16.3333)" fill="#0054bb" />
        <circle cx="60.3333" cy="60.0003" r="1.66667" transform="rotate(-90 60.3333 60.0003)" fill="#0054bb" />
        <circle cx="60.3333" cy="16.3333" r="1.66667" transform="rotate(-90 60.3333 16.3333)" fill="#0054bb" />
        <circle cx="88.6667" cy="60.0003" r="1.66667" transform="rotate(-90 88.6667 60.0003)" fill="#0054bb" />
        <circle cx="88.6667" cy="16.3333" r="1.66667" transform="rotate(-90 88.6667 16.3333)" fill="#0054bb" />
        <circle cx="117.667" cy="60.0003" r="1.66667" transform="rotate(-90 117.667 60.0003)" fill="#0054bb" />
        <circle cx="117.667" cy="16.3333" r="1.66667" transform="rotate(-90 117.667 16.3333)" fill="#0054bb" />
        <circle cx="74.6667" cy="60.0003" r="1.66667" transform="rotate(-90 74.6667 60.0003)" fill="#0054bb" />
        <circle cx="74.6667" cy="16.3333" r="1.66667" transform="rotate(-90 74.6667 16.3333)" fill="#0054bb" />
        <circle cx="103" cy="60.0003" r="1.66667" transform="rotate(-90 103 60.0003)" fill="#0054bb" />
        <circle cx="103" cy="16.3333" r="1.66667" transform="rotate(-90 103 16.3333)" fill="#0054bb" />
        <circle cx="132" cy="60.0003" r="1.66667" transform="rotate(-90 132 60.0003)" fill="#0054bb" />
        <circle cx="132" cy="16.3333" r="1.66667" transform="rotate(-90 132 16.3333)" fill="#0054bb" />
        <circle cx="1.66667" cy="45.3333" r="1.66667" transform="rotate(-90 1.66667 45.3333)" fill="#0054bb" />
        <circle cx="1.66667" cy="1.66683" r="1.66667" transform="rotate(-90 1.66667 1.66683)" fill="#0054bb" />
        <circle cx="16.3333" cy="45.3333" r="1.66667" transform="rotate(-90 16.3333 45.3333)" fill="#0054bb" />
        <circle cx="16.3333" cy="1.66683" r="1.66667" transform="rotate(-90 16.3333 1.66683)" fill="#0054bb" />
        <circle cx="31" cy="45.3333" r="1.66667" transform="rotate(-90 31 45.3333)" fill="#0054bb" />
        <circle cx="31" cy="1.66683" r="1.66667" transform="rotate(-90 31 1.66683)" fill="#0054bb" />
        <circle cx="45.6667" cy="45.3333" r="1.66667" transform="rotate(-90 45.6667 45.3333)" fill="#0054bb" />
        <circle cx="45.6667" cy="1.66683" r="1.66667" transform="rotate(-90 45.6667 1.66683)" fill="#0054bb" />
        <circle cx="60.3333" cy="45.3338" r="1.66667" transform="rotate(-90 60.3333 45.3338)" fill="#0054bb" />
        <circle cx="60.3333" cy="1.66683" r="1.66667" transform="rotate(-90 60.3333 1.66683)" fill="#0054bb" />
        <circle cx="88.6667" cy="45.3338" r="1.66667" transform="rotate(-90 88.6667 45.3338)" fill="#0054bb" />
        <circle cx="88.6667" cy="1.66683" r="1.66667" transform="rotate(-90 88.6667 1.66683)" fill="#0054bb" />
        <circle cx="117.667" cy="45.3338" r="1.66667" transform="rotate(-90 117.667 45.3338)" fill="#0054bb" />
        <circle cx="117.667" cy="1.66683" r="1.66667" transform="rotate(-90 117.667 1.66683)" fill="#0054bb" />
        <circle cx="74.6667" cy="45.3338" r="1.66667" transform="rotate(-90 74.6667 45.3338)" fill="#0054bb" />
        <circle cx="74.6667" cy="1.66683" r="1.66667" transform="rotate(-90 74.6667 1.66683)" fill="#0054bb" />
        <circle cx="103" cy="45.3338" r="1.66667" transform="rotate(-90 103 45.3338)" fill="#0054bb" />
        <circle cx="103" cy="1.66683" r="1.66667" transform="rotate(-90 103 1.66683)" fill="#0054bb" />
        <circle cx="132" cy="45.3338" r="1.66667" transform="rotate(-90 132 45.3338)" fill="#0054bb" />
        <circle cx="132" cy="1.66683" r="1.66667" transform="rotate(-90 132 1.66683)" fill="#0054bb" />
    </svg>


    <svg v-if="name === 'admins'" fill="orange" width="35" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" id="administrator">
        <path
            d="M16 21c5.523 0 10-4.477 10-10S21.523 1 16 1 6 5.477 6 11s4.477 10 10 10zm0-18c4.411 0 8 3.589 8 8s-3.589 8-8 8-8-3.589-8-8 3.589-8 8-8zm8 20H8a4 4 0 0 0-4 4v4h24v-4a4 4 0 0 0-4-4z">
        </path>
        <path d="m21.207 8.707-1.414-1.414-5.293 5.293-2.293-2.293-1.414 1.414 3.707 3.707z"></path>
    </svg>

    <svg v-if="name === 'utilisateurs'" width="35" fill="blue" xmlns="http://www.w3.org/2000/svg"
        enable-background="new 0 0 128 128" viewBox="0 0 128 128" id="users">
        <path fill="blue" d="M125,93.4c-0.4-2.3-1.9-4.4-4-5.4c-7-3.5-22.3-8.6-22.3-8.6v-5.1l0.4-0.3c2.9-2.2,5-5.6,5.6-9.3l0.1-0.5h0.4
			c2.4,0,4.4-1.5,5.2-3.5c0.5-0.9,0.8-1.9,0.8-3c0-0.7-0.1-1.4-0.4-2.1c-0.1-0.7-0.6-1.4-1.1-1.8l-1.4-0.9l0.3-1.5
			c2.6-11.1-6.1-21.2-17.7-21.4c-0.3,0-0.6,0-0.8,0c-0.3,0-0.6,0-0.8,0C77.6,30.1,69,40.2,71.5,51.3l0.4,1.5l-1.4,0.9
			c-0.6,0.4-1,1.1-1.1,1.8c-0.3,0.7-0.4,1.4-0.4,2.1c0,1.1,0.3,2.1,0.8,3c0.8,2.1,2.9,3.5,5.2,3.5h0.4l0.1,0.5
			c0.6,3.7,2.6,7.1,5.6,9.3l0.4,0.3v5.1c0,0-15.3,5.1-22.3,8.6c-2.1,1.1-3.6,3.1-4,5.4c-1.2,7-1.4,18.8-1.4,18.8h72.7
			C126.4,112.2,126.2,100.4,125,93.4z"></path>
        <path fill="blue" d="M56.9,83.5c4-2,10.3-4.4,15.3-6.2c-0.7-1.4-1.9-2.6-3.3-3.3c-7-3.5-22.3-8.6-22.3-8.6v-5.1L47,60
				c2.9-2.2,5-5.6,5.6-9.3l0.1-0.5h0.4c2.4,0,4.4-1.5,5.2-3.5c0.5-0.9,0.8-1.9,0.8-3c0-0.7-0.1-1.4-0.4-2.1
				c-0.1-0.7-0.6-1.4-1.1-1.8l-1.4-0.9l0.3-1.5c2.6-11.1-6.1-21.2-17.7-21.4c-0.3,0-0.6,0-0.8,0c-0.3,0-0.6,0-0.8,0
				c-11.6,0.3-20.2,10.3-17.7,21.4l0.4,1.5l-1.4,0.9c-0.6,0.4-1,1.1-1.1,1.8c-0.3,0.7-0.4,1.4-0.4,2.1c0,1.1,0.3,2.1,0.8,3
				c0.8,2.1,2.9,3.5,5.2,3.5h0.4l0.1,0.5C24,54.4,26,57.7,29,60l0.4,0.3v5.1c0,0-15.3,5.1-22.3,8.6c-2.1,1.1-3.6,3.1-4,5.4
				c-1.2,7-1.4,18.8-1.4,18.8h47.8c0.2-2,0.4-3.9,0.7-5.6C50.9,88.6,53.4,85.3,56.9,83.5z"></path>
    </svg>

    <svg v-if="name === 'building'" width="30" fill="green" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
        id="building">
        <path
            d="M21,8H14V3a1,1,0,0,0-1-1H3A1,1,0,0,0,2,3V21a1,1,0,0,0,1,1H5V17a1,1,0,0,1,1-1h4a1,1,0,0,1,1,1v5H21a1,1,0,0,0,1-1V9A1,1,0,0,0,21,8ZM10,12H6a1,1,0,0,1,0-2h4a1,1,0,0,1,0,2Zm0-4H6A1,1,0,0,1,6,6h4a1,1,0,0,1,0,2Zm8,10a1,1,0,0,1-2,0V17a1,1,0,0,1,2,0Zm0-5a1,1,0,0,1-2,0V12a1,1,0,0,1,2,0Z"
            data-name="Layer 2"></path>
    </svg>

    <svg v-if="name === 'apps'" fill="red" width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
        id="application">
        <path
            d="M12 1H4A3 3 0 0 0 1 4V18a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4A3 3 0 0 0 12 1zm1 17a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4A1 1 0 0 1 4 3h8a1 1 0 0 1 1 1zM12 23H4a3 3 0 0 0-3 3v2a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V26A3 3 0 0 0 12 23zm1 5a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V26a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1zM28 11H20a3 3 0 0 0-3 3V28a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V14A3 3 0 0 0 28 11zm1 17a1 1 0 0 1-1 1H20a1 1 0 0 1-1-1V14a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1zM28 1H20a3 3 0 0 0-3 3V6a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4A3 3 0 0 0 28 1zm1 5a1 1 0 0 1-1 1H20a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1z">
        </path>
    </svg>
</template>

<script setup>
const props = defineProps({
    name: String,
})


function closeWindows() {
    const getBtnClose = document.getElementById('btn_close');
    console.log(getBtnClose);
    getBtnClose.addEventListener('click', function (event) {
        window.open('', '_self').close();
        console.log('fenêtre fermée');
    })

}

function endCall() {

}
</script>

<style></style>
