<script setup>
import AuthenticatedLayoutAdmin from '@/Layouts/AuthenticatedLayoutAdmin.vue';
import { Head } from '@inertiajs/vue3';
import Icon from '@/Components/Icons/Icon.vue';
import { ref } from 'vue';

let props = defineProps({
    applications: {
        type: Array,
        default: () => ({}),
    },
});

let applications = ref(props.applications);
console.log(applications.value);
</script>
<template>
    <Head title="Admin Dashboard" />
    <AuthenticatedLayoutAdmin>
        <div class="px-10 py-5">
            <div class="grid grid-cols-4 gap-10 p-3 font-bold">
                <div class="bg-white shadow-lg rounded-md text-primary p-6 flex flex-col gap-2 "><span
                        class="flex items-center gap-1 text-2xl">
                        <Icon name="apps" /> Application(s)
                    </span> <span class="text-3xl">{{ applications.length < 10 ? '0' + applications.length :
                        applications.length }}</span>
                </div>
                <div class="bg-white shadow-lg rounded-md text-primary p-6 flex flex-col gap-2"><span
                        class="flex items-center gap-1 text-2xl">
                        <Icon name="building" /> Entreprise(s)
                    </span>
                    <span class="text-3xl">{{ applications.length < 10 ? '0' + applications.length : applications.length
                    }}</span>
                </div>
                <div class="bg-white shadow-lg rounded-md text-primary p-6 flex flex-col gap-2"><span
                        class="flex items-center gap-1 text-2xl">
                        <Icon name="utilisateurs" /> Utilisateur(s)
                    </span>
                    <span class="text-3xl">{{ applications.length < 10 ? '0' + applications.length : applications.length
                    }}</span>
                </div>
                <div class="bg-white shadow-lg rounded-md text-primary p-6 flex flex-col gap-2"><span
                        class="flex items-center gap-1 text-2xl">
                        <Icon name="admins" /> Admin(s)
                    </span><span
                        class="text-3xl">{{ applications.length < 10 ? '0' + applications.length :
                            applications.length }}</span>
                </div>
            </div>
        </div>


    </AuthenticatedLayoutAdmin>
</template>


<style></style>
