<script setup>
import AuthenticatedLayoutAdmin from '@/Layouts/AuthenticatedLayoutAdmin.vue';
import { Head } from '@inertiajs/vue3';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import Icon from '@/Components/Icons/Icon.vue';
import { router } from "@inertiajs/vue3";
import { ref } from 'vue';

let props = defineProps({
    applications: {
        type: Array,
        default: () => ({}),
    },
});

let applications = ref(props.applications);
console.log(applications.value);

const getVideoThumbnailUrl = (imageName) => {
    return '/storage/images/' + imageName;
}
const getVideoUrl = (videoName) => {
    return '/storage/videos/' + videoName;
}

const showDetails = (id) => {
    router.get(route("application.show", id));
}
</script>
<template>
    <Head title="Admin Dashboard" />
    <AuthenticatedLayoutAdmin>
        <div class="px-10 py-5">

            <div class="grid grid-cols-2 gap-10">
                <div v-for="(application, index) in applications" :key="index"
                    class="grid grid-cols-1 md:grid-cols-2 bg-white p-5 gap-5">

                    <div class=" ">
                        <div class="flex gap-2 items-center mb-4">
                            <span>
                                <Icon name="apps" />
                            </span>
                            <h1 class="text-2xl font-semibold ">{{ application.nom }}</h1>
                        </div>
                        <p class="text-gray-600 mb-4">{{ application.description }}</p>
                        <div>
                            <PrimaryButton @click="showDetails(application.id)">
                                Découvrir
                            </PrimaryButton>
                        </div>
                    </div>

                    <div class="">
                        <h2 class="text-lg font-semibold mb-2">Vidéo de démonstration</h2>
                        <div class="">
                            <video controls :poster="getVideoThumbnailUrl(application.capture_ecran)">
                                <source :src="getVideoUrl(application.video_demo)" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </AuthenticatedLayoutAdmin>
</template>


<style></style>
