<script setup>
import AuthenticatedLayoutAdmin from '@/Layouts/AuthenticatedLayoutAdmin.vue';
import { Head } from '@inertiajs/vue3';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import Icon from '@/Components/Icons/Icon.vue';
import { router } from "@inertiajs/vue3";
import { ref } from 'vue';

let props = defineProps({
    application: {
        type: Array,
        default: () => ({}),
    },
    formation: {
        type: Array,
        default: () => ({}),
    },
    videoFormation: {
        type: Array,
        default: () => ({}),
    },
});

let application = ref(props.application);
let formation = ref(props.formation);
let videoFormation = ref(props.videoFormation);

console.log(application.value);
console.log(formation.value);
console.log(videoFormation.value);

const getVideoThumbnailUrl = (imageName) => {
    return '/storage/images/' + imageName;
}
const getVideoUrl = (videoName) => {
    return '/storage/videos/' + videoName;
}


const createFormation = (idApplication) => {
    router.post(route("formation.create", {
        id: idApplication,
    }));
};

const expandedVideo = ref(null);
const expandedVideoTitle = ref(null);

const expandVideo = (url, title) => {
    expandedVideo.value = url;
    expandedVideoTitle.value = title;

};

</script>
<template>
    <Head title="Admin Dashboard" />
    <AuthenticatedLayoutAdmin>
        <div class="px-10 py-5 sticky top-16 ">

            <div class="grid grid-cols-2 gap-10">
                <div class="grid grid-cols-1 md:grid-cols-2 bg-white p-5 gap-5">

                    <div class=" ">
                        <div class="flex gap-4 items-center mb-4">
                            <span>
                                <Icon name="apps" />
                            </span>
                            <h1 class="text-2xl font-semibold">{{ application.nom }}</h1>
                        </div>
                        <p class="text-gray-600 mb-4">{{ application.description }}</p>
                        <!-- <div>
                            <PrimaryButton @click="showDetails(application.id)">
                                Editer
                            </PrimaryButton>
                        </div> -->
                    </div>

                    <div class="">
                        <h2 class="text-lg font-semibold mb-2">Vidéo de démonstration</h2>
                        <div class="">
                            <video controls :poster="getVideoThumbnailUrl(application.capture_ecran)">
                                <source :src="getVideoUrl(application.video_demo)" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="flex gap-5">
                        <PrimaryButton @click="createFormation(application.id)">
                            Créer la formation sur {{ application.nom }}
                        </PrimaryButton>
                        <PrimaryButton @click="createFormation(application.id)">
                            Ajouter des vidéos à la formation sur {{ application.nom }}
                        </PrimaryButton>
                    </div>
                </div>
            </div>



        </div>


        <div class="max-w-2xl  p-6">
            <h1 class="text-3xl font-semibold mb-4">{{ formation.titre }}</h1>


            <p class="text-gray-600 mb-6">{{ formation.description }}</p>

        </div>
        <div class="flex">
            <div class="max-w-sm  px-6">


                <h2 class="text-xl font-semibold mb-4">Vidéos de la Formation</h2>

                <div class="overflow-y-scroll h-[20rem] max-w-sm">
                    <div v-for="video in videoFormation" :key="video.id" class="bg-white p-4 rounded shadow-md mb-4">
                        <p>Vidéo {{ video.ordre }}</p>
                        <p>{{ video.titre }}</p>
                        <iframe :src="video.url" frameborder="0" allowfullscreen class="w- h-"></iframe>
                        <div class="flex justify-between items-center mt-5">
                            <h2 class=" cursor-pointer" @click="expandVideo(video.url, video.titre)">Lire</h2>
                            <div class="flex items-center gap-2">

                                <p>Marquer comme lu</p>
                                <input type="checkbox" name="" id="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div v-if="expandedVideo" class="fixed bottom-8 right-12 rounded-sm">
                <div class="">
                    <h1 class=" font-bold text-xl flex justify-center">{{ expandedVideoTitle }}</h1>
                    <div class="flex justify-end">
                        <span class="cursor-pointer" @click="expandedVideo = null">
                            <Icon name="closeBtn" />
                        </span>
                    </div>

                    <iframe :src="expandedVideo" frameborder="0" allowfullscreen class="w-[62rem] h-[35rem]"></iframe>
                </div>
            </div>
        </div>






    </AuthenticatedLayoutAdmin>
</template>


<style></style>
